@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "testy";
    String test = "testy";
    int testInt = 22;
}

<h2>Index</h2>
<p>This is my @test my test int is @testInt</p>