@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "IDbois";
    String status = "Legend";
    int number = 22;
}

<h2>Index</h2>
<p>Hello from the Hello Controller</p>
<p>My status is @status and number is @number !</p>